{% extends 'base.html' %}


{% block body %}
  <body>
    <div class="container center">
      <div class="row">
        <form class="col-md-6 offset-md-3 resetPasswordDiv" id="resetPassForm" action="/user/reset-password-view" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" disabled class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" value="{{ context.email }}">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
          </div>
          <div class="form-group">
              <label for="exampleInputPassword2">Confirm Password</label>
              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" name="password2">
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <input type="text" hidden value="{{ context.password_reset_token}} " name="password_reset_token">
        </form>
      </div>
    </div>
  </body>
  <script src="/static/js/password_reset.js"></script>
{% endblock body %}
  